:root {
    --primary-color :  rgb(255, 128, 0); /* variaveis que carregar cor*/
    --background-main-color: white;
}
/*Configuração geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px, 62.5% de 16px (tamanho de fonte padrão do navegador) */
}

/*CONFIGURANDO O HEADER*/
.heading { /*aqui eu coloquei com display flex e coloquei posição fixa na tela*/
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    width: 100%;
}
  
.heading .header-top-img img {
    width: 60%;
    max-height: 8rem;
    padding: 1rem;
    margin: 1rem;
    margin-left: 4rem;
}

.heading .menu-bar img {
    width: 50%;
    max-height: 6rem;
}

.menu-bar {
    margin: 1rem; /* aqui estou configurando o menu que tem os três tracinhos*/
    padding: 1rem;
   
}

.heading img:hover {
    background-color: #ddd;
}

/* CONFIGURAÇÃO DO BOTÃO DA PRIMEIRA TELA*/
.button-config {
    font-family: "Bebas Neue";
    font-size: 3rem;
    background-color: var(--primary-color);
    padding: 2rem 9rem 2rem 9rem;
    height: 8rem;
    width: 38.6rem;
    border-radius: 40rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button-config:hover {
    color: var(--background-main-color)
}


/*container conteudo principal*/
 .main-container{
    min-height: 100vh;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 0.75fr 1fr 0.25fr ;
    grid-template-rows: 0.8fr 0.2fr ;
    gap: 3rem; 
    margin-top: 4rem ;
    align-self: center;
    justify-self: center;
   
 }
.book-image {
    margin-left: 4rem;
    align-self: flex-start;
    justify-self: flex-end ;
}

.rectan {
    background-color: var(--primary-color);
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    width: 4rem;
    justify-self: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.button-config{
    align-self: flex-start;
    justify-self: center;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

}

 .background-primary-color {
     background-color: var(--background-main-color);

 }
 
p {
     font-family: "calibri light";
     font-size: 2vw;
     text-indent: 4rem;
 }



@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.woff");
}

h1 {
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 5vw;
    margin-bottom: 3rem;
}

section img{
    height: 50vw; /*atributo que controla o tamanho da imagem 
    foi você que fez assim ou eu sem querer ?) */
} 


article img:hover {
    cursor: pointer;
}

h4 {
    font-size: 10pt;
    text-align: center;
    padding: 40px;
} 

/*Configurando o forms*/

form {
    padding: 100px;
}

.form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
}

#form-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    font-family: "Bebas Neue";
    font-size: 2em;
}

.content-inputs {
    display: flex;
    flex-wrap: wrap; /* itens flexíveis são forçados a ficarem na mesma linha ou podem ser quebradas em varias linhas */
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: .6em 0;
    padding: .8rem 1.2rem;
}

.question-box {
    margin: 1.5em 0;
}

.question-box input {
    height: 20px;
    width: 20px;
}

.button-send {
    padding: 2.5rem; /*root em*/
}

.button-send button {
    background: var(--primary-color);
    padding: 2rem 7rem 2rem 7rem;
    border: none;
}

.button-send a {
    font-size: 2em;
    font-family: "Bebas Neue";
    color: black;
    text-decoration: none;
}
